<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="sam.businesscardplanner" >

    <uses-feature android:name="android.hardware.camera"
        android:required="true" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-feature android:name="android.hardware.camera.autofocus" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_CALENDAR" />
    <uses-permission android:name="android.permission.WRITE_CALENDAR" />


    <application
        android:allowBackup="true"
        android:hardwareAccelerated="false"
        android:largeHeap="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".BusinessSchedule.NewEventActivity"
            android:label="Create new Event"/>

        <activity android:name=".BusinessCard.AddNewCardActivity"
            android:label="Create new Card"/>

        <activity android:name=".BusinessCard.BusinessCardProfile" />

        <activity android:name=".BusinessGroup.AddNewGroupActivity"
            android:label="Create new Group"/>

        <activity android:name=".BusinessGroup.GroupsProfile" />

        <activity android:name=".BusinessGroup.AddMemberActivity"
            android:launchMode="singleTop">
        <intent-filter>
            <action android:name="android.intent.action.SEARCH" />
        </intent-filter>

        <meta-data
            android:name="android.app.searchable"
            android:resource="@xml/searchable" />
        </activity>

        <activity android:name=".BusinessSchedule.BusinessEventProfile"></activity>

    </application>

</manifest>
